CLICKUP_TOKEN=pk_12345678_XXXXXXXXXXXXXXXXXXXX
CLICKUP_FOLDER_ID=12345678900

DISCORD_WEBHOOK_NEW_TASKS=https://discord.com/api/webhooks/xxx/www
DISCORD_WEBHOOK_INCOMPLETE_TASKS=https://discord.com/api/webhooks/xxx/yyy
DISCORD_WEBHOOK_STUCK_TASKS=https://discord.com/api/webhooks/xxx/zzz

REDIS_URL=redis://localhost:6379
